# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# renv local library
renv/library/
renv/staging/

# Cache and temporary files
.Rcheck/
.Renviron
.Rprofile

# Logs and temp files
*.log
*.aux
*.out
*.toc
*.tmp

# Mac
.DS_Store